<div class="header_region">
{{page.header}}
</div>
<div class="menubar_region">
{{page.menubar}}
</div>
<div class="pre_content_region">
{{page.pre_content}}
</div>
<div class="content_region">
{{page.content}}
</div>
<div class="post_content_region">
{{page.post_content}}
</div>
<div class="footer_first_region">
{{page.footer_first}}
</div>
<div class="footer_second_region">
{{page.footer_second}}
</div>